---
layout: layout.njk
title: About
---

<h1 class="text-5xl mb-12">{{ title }}</h1>
<div class="prose dark:prose-invert">
    <p>AHWD is the freelance web development practice of Alex Harris, located in Oakland, CA.</p>
    <h2 class="text-xl uppercase font-bold star">Experience</h2>
    <p>I have been making websites professionally for over 10 years, and have been working exclusively as a freelancer and consultant for the past 4. Before setting out on my own, I experienced both sides of the client/contractor relationship: As a developer at Cast Iron Coding in Portland, OR, I helped build sites for clients, and trained and supported them in their ongoing use, and as the Web Editor and Electronic Communications Manager at UC Berkeley’s BAMPFA I hired contractors and worked with them to achieve complex strategic and technical communications goals. These dual experiences have given me an understanding of the entire process, and helps me to work well to understand and serve client needs.</p>
    <h2 class="text-xl uppercase font-bold star">Clients</h2>
    <ul class="leading-5 grid md:grid-cols-2">
        <li>BAMPFA</li>
        <li>Berkeley Water Center</li>
        <li>Lightsource</li>
        <li>500 Capp Street</li>
        <li>Canal Projects</li>
        <li>Ringo Studio</li>
        <li>Kessenick Gamma</li>
        <li>Picoyune</li>
        <li>Other Brother Beer</li>
        <li>Draw Together</li>
        <li>Asian Art Museum</li>        
    </ul>
    <h2 class="text-xl uppercase font-bold star">About Me</h2>
    <p>I grew up in Berkeley, CA. </p>
     
</div>
