---
layout: layout.njk
title: About
---

<div class="prose">
    <h1>{{ title }}</h1>
    <p>
        In particular, I help with the technical aspects of communicating online. This includes full stack web development, Wordpress development (and other CMSes), project management, UI design, and more.
    </p>
</div>
