---
layout: page.njk
title: Blog
---
    <ul>
    {% for post in collections.post %}
        {% if post.data.status != 'draft' %}
            <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>