---
layout: layout.njk
title: Home
---

<div class="full-width flex flex-col md:flex-row gap-8 items-center my-12 p-4">
    <div class="w-full md:w-7/12">
        {% bigtext %}Web development in Oakland, CA, focused on helping arts and environmental organizations, non-profits and small businesses communicate online.{% endbigtext %}
    </div>        
</div>
<div>
{% set works = collections.featured | sort(attribute='data.year') | reverse %}
{% for post in works %}
<div class="featured-work full-width mb-16 relative">
    <div class="border-r top-fade max-sm:hidden"></div>
    <div class="w-1/2 md:w-full border-r-0 md:border-r pl-4 p-2  text-2xl top-fade h-full relative float-left">
        <div class="md:absolute left-4 bottom-2 instrument-serif">❋ Featured Work</div>
        <div class="md:absolute right-4 bottom-2">
            <span class="featured-prev cursor-pointer"><-</span>
            <span class="featured-next cursor-pointer">-></span>
        </div>        
    </div>
    <div class="w-1/3 md:w-full border-r-0 md:border-r pr-4 p-2 top-fade absolute right-0 text-end md:relative">
    </div>
    <div class="top-fade max-sm:hidden"></div>
    <div class="border-t md:border-y border-r max-md:hidden"></div>
    <div class="border-t md:border-y border-r p-4  flex flex-col">
        <div class="featured-content">
            <span class="instrument-serif text">{{loop.index}}/{{loop.length}}</span>        
            <h3 class="font-bold pb-2 "><a href="{{post.url}}">{{post.data.title}}</a></h3>
            <p>{{post.data.summary}}</p>
            <a class=" mt-12 underline" href="{{post.url}}">view</a>
        </div>
    </div>
    <div class="md:border-y md:border-r">
        <div class="featured-image">
            <img class="" src="{{ post.data.image }}" alt="{{post.data.title}}">
        </div>
    </div>
    <div class="border-t md:border-y max-sm:hidden"></div>
    <div class="border-r bottom-fade max-sm:hidden"></div>
    <div class="border-r bottom-fade max-sm:hidden"></div>
    <div class="border-r bottom-fade max-sm:hidden"></div>
    <div class="bottom-fade max-sm:hidden"></div>        
</div>
{% endfor %}
</div>




<!-- 
<h2 class="text-3xl uppercase pt-12 pb-12 font-semibold mx-auto text-center">Featured Work</h2>

<div class="mt-12 mb-16 md:mb-24 full-width mx-auto">
    <div class="flex flex-col md:flex-row items-start justify-between">
        <div class="md:w-3/5 md:pr-12 pb-4">
            <img class="rounded-xl w-full mb-4 mt-0" src="/assets/images/cckw/image-1.jpg">        
        </div>
        <div class="md:w-2/5 flex flex-col justify-center items-start">
            <h2 class="text-3xl mt-0"><a class="cursor-pointer no-underline" href="/work/cckw">Chen Chen & Kai Williams</a></h2>
            <p>A simple, thoughtful site for a New York design agency, built to be easy to use and long lasting.</p>        
            {% pillbutton page, 'View project', '/work/cckw/' %} 
            <div class="border border-blue-800 dark:border-blue-400 rounded-xl p-4 my-12 flex flex-col items-start gap-2">
                <div class="text-red-500 inline-block text-sm rounded-full pt-1 uppercase">Case Study</div>
                <a href="/blog/cckw">Read a case study about the making of the CCKW site.</a>
            </div>            
        </div>
    </div>    
</div>
<div class="mb-16 md:mb-24 full-width mx-auto">
    <div class="flex flex-col md:flex-row-reverse items-start justify-between">
        <div class="w-full md:w-3/5 md:pl-12 pb-4">
            <img class="rounded-xl w-full mb-4 mt-0" src="/assets/images/lightsource/image-3.jpg">        
        </div>
        <div class="w-full md:w-2/5 flex flex-col justify-center items-start">
            <h2 class="text-3xl mt-0"><a class="cursor-pointer no-underline" href="/work/lightsource">Lightsource</a></h2>
            <p>A Wordpress theme for a small SF arts business, with custom ecommerce functionality.</p>  
            {% pillbutton page, 'View Project', '/work/lightsource/' %}       
        </div>
    </div>    
</div>
<div class="mb-16 md:mb-24 full-width mx-auto">
    <div class="flex flex-col md:flex-row items-start justify-between">
        <div class="w-full md:w-3/5 md:pr-12 pb-4">
            <img class="rounded-xl w-full mb-4 mt-0" src="/assets/images/ucwaterportal/image-1.jpg">        
        </div>
        <div class="w-full md:w-2/5 flex flex-col justify-center items-start">
            <h2 class="text-3xl mt-0"><a class="cursor-pointer no-underline" href="/work/uc-water-portal">UC Berkeley Water Research and Opportunities Portal</a></h2>
            <p class="text-lg">A directory for UC Berkeley students interested in finding water-related research, classes and opportunities.</p>        
            {% pillbutton page, 'View project', '/work/uc-water-portal/' %}         </div>
    </div>    
</div>
<div class="flex flex-col items-center  text-center p-8 full-width mx-auto">
    {% pillbutton page, 'View All Work', '/work/everything/' %} 
    <div class="pt-4">— or —</div>
    <div class="flex flex-col md:flex-row gap-4 mt-4">
        <a class="" href="/work/arts">Arts Organizations</a>
        <a class="" href="/work/business">Small Business</a>
        <a class="" href="/work/education">Education</a>
    </div>
</div> -->



<!-- <div class="columns mb-24">
    <div class="w-1/2 flex justify-center">
        <svg width="383" height="315" viewBox="0 0 383 315" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="313.213" width="295.228" height="218.798" transform="rotate(-90 1 313.213)" fill="#E0C887" stroke="black" stroke-width="2"/>
            <rect x="10.3415" y="303.871" width="295.228" height="218.798" transform="rotate(-90 10.3415 303.871)" fill="#F0DEAE" stroke="black" stroke-width="2"/>
            <rect x="17.9846" y="296.228" width="295.228" height="218.798" transform="rotate(-90 17.9846 296.228)" fill="#FFF6DE"/>
            <rect x="17.9846" y="296.228" width="295.228" height="218.798" transform="rotate(-90 17.9846 296.228)" fill="#FFF6DE"/>
            <rect x="17.9846" y="296.228" width="295.228" height="218.798" transform="rotate(-90 17.9846 296.228)" stroke="black" stroke-width="2"/>
            <path d="M287.663 109.608L288.007 111.629L289.388 110.115L331.204 64.2685L306.872 121.351L306.069 123.237L308.049 122.71L368.014 106.749L316.683 141.615L314.988 142.767L316.939 143.394L376.013 162.386L313.981 163.966L311.932 164.018L313.235 165.601L352.663 213.517L299.624 181.309L297.872 180.245L298.112 182.28L305.376 243.906L278.17 188.136L277.272 186.293L276.373 188.136L249.167 243.906L256.431 182.28L256.671 180.245L254.919 181.309L201.88 213.517L241.309 165.601L242.611 164.018L240.562 163.966L178.53 162.386L237.604 143.394L239.556 142.767L237.86 141.615L186.529 106.749L246.494 122.71L248.475 123.237L247.671 121.351L223.339 64.2685L265.155 110.115L266.536 111.629L266.88 109.608L277.272 48.4325L287.663 109.608Z" fill="#FFFFF5" stroke="black" stroke-width="2"/>
        </svg>
    </div>
    <div class="w-1/2">
        <h2 class="text-2xl uppercase pb-3 font-bold">Notes  on process</h2>
        <p class="text-xl">Each project I undertake is an opportunity to showcase my passion and expertise, and I am dedicated to delivering top-notch solutions that exceed my clients' expectations.</p>        
    </div>
</div>
<div class="columns">
    <div class="w-1/2">
        <h2 class="text-2xl uppercase pb-3 font-bold">Projects</h2>
        <p class="text-xl">Each project I undertake is an opportunity to showcase my passion and expertise, and I am dedicated to delivering top-notch solutions that exceed my clients' expectations.</p>        
    </div>
    <div class="w-1/2 flex justify-center">
        <svg width="402" height="304" viewBox="0 0 402 304" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="224.104" y="83.5994" width="169.16" height="115.513" fill="#E0C887" stroke="black" stroke-width="2"/>
            <rect x="230.916" y="75.084" width="169.16" height="115.513" fill="#FFF6DE" stroke="black" stroke-width="2"/>
            <rect x="25.6947" y="187.487" width="169.16" height="115.513" fill="#E0C887" stroke="black" stroke-width="2"/>
            <rect x="32.507" y="178.972" width="169.16" height="115.513" fill="#FFF6DE" stroke="black" stroke-width="2"/>
            <rect x="1" y="22.2885" width="169.16" height="115.513" fill="#E0C887" stroke="black" stroke-width="2"/>
            <rect x="7.81232" y="13.7731" width="169.16" height="115.513" fill="#FFF6DE" stroke="black" stroke-width="2"/>
            <path d="M249.624 39.2781L249.967 41.299L251.349 39.7845L274.115 14.8238L260.868 45.9021L260.064 47.7878L262.045 47.2606L294.692 38.5709L266.746 57.5535L265.05 58.7053L267.002 59.3327L299.164 69.6729L265.391 70.5331L263.342 70.5852L264.645 72.1681L286.111 98.2553L257.234 80.7198L255.482 79.6558L255.722 81.6916L259.677 115.243L244.865 84.8796L243.966 83.0372L243.068 84.8796L228.255 115.243L232.21 81.6916L232.45 79.6558L230.698 80.7198L201.822 98.2553L223.288 72.1681L224.591 70.5852L222.542 70.5331L188.769 69.6729L220.931 59.3327L222.883 58.7053L221.187 57.5535L193.24 38.5709L225.888 47.2606L227.869 47.7878L227.065 45.9021L213.817 14.8238L236.584 39.7845L237.965 41.299L238.309 39.2781L243.966 5.97127L249.624 39.2781Z" fill="#FFFFC3" stroke="black" stroke-width="2"/>
            <path d="M122.745 162.751L123.088 164.772L124.469 163.258L147.236 138.297L133.988 169.375L133.185 171.261L135.166 170.734L167.813 162.044L139.866 181.027L138.171 182.179L140.122 182.806L172.285 193.146L138.512 194.006L136.462 194.059L137.765 195.642L159.232 221.729L130.355 204.193L128.603 203.129L128.843 205.165L132.798 238.717L117.986 208.353L117.087 206.511L116.188 208.353L101.376 238.717L105.331 205.165L105.571 203.129L103.819 204.193L74.9421 221.729L96.4087 195.642L97.7112 194.059L95.662 194.006L61.889 193.146L94.0516 182.806L96.0031 182.179L94.3074 181.027L66.3608 162.044L99.008 170.734L100.989 171.261L100.185 169.375L86.9378 138.297L109.704 163.258L111.086 164.772L111.429 162.751L117.087 129.445L122.745 162.751Z" fill="#FFFFF5" stroke="black" stroke-width="2"/>
        </svg>
    </div>    
</div> -->
