---
layout: layout.njk
title: Projects
---


<h1 class="text-5xl mb-12">{{ title }}</h1>
<p class="text-2xl md:text-3xl w-full md:w-1/2 mb-24">
    In addition to client work, I  also have a few of my own projects that I work on from time to time.
</p>
<div class="flex flex-col md:flex-row gap-4 md:gap-8 border-t border-gray-200 py-6 md:py-12">
    <div class="flex flex-col relative w-full md:w-1/2">
        <h2 class="text-4xl mb-8">Dither it!</h2>
        <p>Dither it! is a web application that reduces the number of colors an image uses, using various algorithms, providing a particular "lo-fi" aesthetic and often a reduced file size. No client, just a for fun one. </p>
    </div>    
    <div class="w-full md:w-1/2">
        <a href="https://ditherit.com">
            <img class="w-full rounded-xl" src="/assets/images/dither-it.jpg" />
        </a>
    </div>

    
</div>



